@import "_form/forms";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: $font_primary;
	font-size: 14px;
	color: $dark;
	background-color: $color_deep_body;
}

h1,
h2,
h3,
h4 {
	font-family: $font_secundary;
	margin-bottom: 1.25rem;
}

h1 {
	font-size: 1.9rem;
	border-bottom: 1px solid #0d75d6;
}
h2 {
	font-size: 1.7rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.3rem;
}

.bg-dark {
	background-color: $dark !important;
}
.bg-dark-x {
	background-color: $dark-x;
}

// start LOGIN  -------------
.login-section {
	.form-control,
	.btn {
		min-height: 1.125rem;
		line-height: initial;
		color: $light;
	}
	input {
		color: $dark;
		border: 1px solid $light;
		&:focus,
		&:valid {
			background-color: #000000;
		}
	}
}
.set-login {
	max-width: 500px;
	color: $light;
}

.logo {
	width: 80px;
}

.carousel-item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.img-1 {
	background-image: url(../img/slider/slider-001.jpg);
}
.img-2 {
	background-image: url(../img/slider/slider-002.jpg);
}
.img-3 {
	background-image: url(../img/slider/slider-003.jpg);
}
// end LOGIN  -------------

.form-floating > .form-control {
	height: 100%;
	padding: 0.5rem 0.5rem;
}
.form-floating > label {
	padding: 0.4rem 1rem;
	opacity: 0.8;
	color: $inputs-label;
}

.mvst_group {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 1fr;
	overflow: auto;

	.mvst_panel {
		overflow: auto;
		height: 100%;
		padding: 0;
		z-index: 10;
		grid-column: 1 / span 1;
	}
	.mvst_table {
		width: 100%;
		overflow: auto;
		padding: 60px 10px 0 10px;
		z-index: 5;
		grid-column: 2 / span 1;

		.double-column {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;

			.left-side {
				grid-column: 1 / span 1;
			}
			.right-side {
				grid-column: 2 / span 1;
			}
		}
	}

	.mvst_list {
		grid-column: 1 / span 2;
		width: 100%;
		overflow: auto;
		padding: 60px 10px 0 10px;
		z-index: 5;
	}
}

.form-group {
	.form_primary {
		display: block;
	}
	.form_secundary {
		display: none;
	}
}

.form-floating {
	& > .form-select {
		height: calc(3rem + 0px);
		padding: 1.05rem 0.75rem;
		font-size: 0.8rem;
		font-weight: 900;
		padding-top: 1rem;
		padding-bottom: 0.3rem;

		option {
			font-size: 0.75rem;
		}
	}
	input,
	textarea {
		font-size: 0.8rem;
		font-weight: 900;
	}
	.box-items-list {
		width: 100%;
		background-color: #ffffff;
		border-radius: 6px;
		padding: 8px 16px;
		font-weight: 900;
		font-size: 0.8rem;
		color: #212529;

		i {
			float: right;
			font-size: 1.05rem;
			color: #212529;
			transition: all 0.3s ease;
			&.rotate {
				transform: rotate(180deg);
			}
		}
	}

	.fail {
		border: 1px solid red;
		color: red;
	}
}

.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.dataTables_wrapper {
	display: block;
	.dataTables_filter {
		label {
			display: block;
			color: $inputs-label;
		}
	}
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
	width: 150px;
	font-size: 0.9em;
}

div.dataTables_wrapper div.dataTables_length select {
	margin-left: 0.3em;
	margin-right: 0.8em;
	display: inline-block;
	width: 50px;
	font-size: 0.9em;
}
div.dataTables_wrapper .btn,
div.dataTables_wrapper div.btn-group button.btn-secundary {
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	// width: 35px;
	padding: 0px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
div.dataTables_wrapper div.btn-group button.btn-excel,
div.dataTables_wrapper div.btn-group button.btn-pdf,
div.dataTables_wrapper div.btn-group button.btn-print,
div.dataTables_wrapper div.btn-group button.btn-apply {
	// margin-left: 0.5em;
	margin-right: 0.5rem;
	display: inline-block;
	padding: 0.1rem 0.95rem;
	font-weight: normal;
	font-size: 1em;
	background-color: $dark;
	color: #ffffff;
	border-radius: 8px;
	&:hover {
		background-color: $dark-x;
	}
}
div.dataTables_wrapper div.btn-group button.btn-excel,
div.dataTables_wrapper div.btn-group button.btn-pdf,
div.dataTables_wrapper div.btn-group button.btn-print {
	width: auto;
}
div.dataTables_wrapper div.btn-group button.btn-apply {
	width: auto;
}
div.dataTables_wrapper div.btn-group button.hidden-field {
	display: none;
}

div.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 2px 4px;
	background-color: #ffffff;
	border: none;
	&:hover {
		background-color: #cc0000;
	}

	.page-link {
		padding: 0.35rem 0.63rem;
		border-radius: 4px;
		border: none;
		// background-color: $dark;
		// color: #ffffff;
		&:hover {
			background-color: $dark-x;
			color: #ffffff;
		}
	}

	&.page-item {
		&.active {
			.page-link {
				background-color: $dark;
			}
			&:hover {
				background-color: none;
			}
		}
		&:hover {
			background-color: none;
		}
	}
}
.notify {
	font-size: 1.2rem;
	text-align: center;
	background-color: rgba(100, 100, 100, 0.1);
	border-radius: 3px;
	padding: 4px;
	display: block;
}

table {
	td {
		i {
			font-size: 1.3em;
			margin: 1px 6px;
			cursor: pointer;
			&.kill {
				color: $btn-red;
				opacity: 1;
				&:hover {
					color: $btn-red;
					opacity: 0.5;
				}
			}
			&.modif {
				color: $dark;
				opacity: 1;
				&:hover {
					color: $dark;
					opacity: 0.5;
				}
			}
			&.docum {
				color: $btn-blue;
				font-size: 1.5rem;
				opacity: 1;
				text-align: center;
				&:hover {
					color: $btn-blue;
					opacity: 0.5;
				}
			}
		}
	}
	td.edit {
		text-align: center;
	}
	.hide-support {
		display: none;
	}
	td.sku {
		text-align: center;
	}
	td.product-name {
		text-align: left;
		font-weight: 900;
	}

	td.supply {
		text-align: left;
		font-weight: 300;
	}
	td.quantity {
		text-align: center;

		span {
			padding: 3px 8px;
			background-color: #005599;
			color: #ffffff;
			font-weight: 900;
			font-size: 0.8em;
			margin: 2px 0;
			border-radius: 5px;
		}
	}
	td.price {
		text-align: right;
	}
	td.serie-product {
		text-align: center;
	}
	td.code-type_s,
	td.code-type_t {
		text-align: center;
		font-weight: 900;
	}
	td.store-name_s,
	td.store-name_t {
		text-align: center;
	}
	td.date {
		text-align: center;
		color: $setColor;
		font-weight: 900;
	}
	td.comments {
		width: 350px;
		div {
			width: 350px;
			text-align: left;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.btn {
	border-radius: 1rem;
	padding: 8px 20px;
}
.btn-primary {
	background-color: $dark;
	border: $dark;
}
.btn-danger {
	background-color: $btn-red;
	border: $btn-red;
}

// Listador de elementos pertenecientes a un input

.hide-items {
	display: none;
}

.list-finder {
	position: relative;
	.list-group {
		width: auto;
		min-width: 300px;
		max-height: 100px;
		padding: 12px;
		position: fixed;
		top: 53px;
		left: 0px;
		z-index: 10;

		&.list-hide {
			display: none;
		}
		.list-items {
			font-size: 0.75rem;
			border-radius: 5px;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
			width: 100%;
			max-height: 250px;
			padding: 4px;
			background-color: #ffffff;
			overflow: auto;

			.list-item {
				width: 100%;

				padding: 6px;
				cursor: pointer;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					background-color: rgba(0, 0, 0, 0.3);
					color: #ffffff;
				}

				.items-just {
					display: inline-block;
					float: right;
					.editable {
						border: 1px solid #dddddd;
						border-radius: 4px;
						padding: 1px 8px;
						margin-left: 20px;
						display: inline-block;
					}
					i {
						float: right;
						display: inline-block;
						margin: 0 10px;
						font-size: 1.4em;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}

// MODALES

.overlay_background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 100;
	&.overlay_hide {
		visibility: hidden;
	}

	.overlay_modal {
		position: absolute;
		top: 10%;
		bottom: 5%;
		left: 5%;
		right: 5%;
		background-color: #ffffff;
		box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		padding: 30px;

		.overlay_closer {
			width: 100%;
			height: 50px;
			padding: 3px 0 0 0;
			overflow: auto;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.title {
				font-family: $font_secundary;
				color: $dark;
				font-size: 1.5rem;
			}

			.btn_close {
				font-size: 1.1rem;
				font-weight: 900;
				border: 3px solid $dark;
				border-radius: 30px;
				color: $dark;
				padding: 4px 10px;
				margin-top: 4px;
				display: inline-block;
				cursor: pointer;
				&:hover {
					background-color: $dark;
					color: $light;
				}
			}
		}
	}
}

//Estilos de Juan
.card-body {
	padding: 0.2rem 0.2rem !important;
}

.listContainer {
	height: 200px !important;
	overflow-y: scroll;
}

.list-group-item {
	font-weight: 600 !important;
	font-size: 0.65rem;
	padding: 0.1rem 0.3rem !important;
	color: rgb(55, 0, 255);
}

.list-group-item-Text {
	font-size: 0.6rem !important;
	font-weight: 200 !important;
	color: black;
}
#suggestions {
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
	height: auto;
	position: absolute;
	top: 45px;
	z-index: 9999;
	width: 206px;
}

#suggestions .suggest-element {
	background-color: #eeeeee;
	border-top: 1px solid #d6d4d4;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	float: left;
}

@media screen and (max-width: 780px) {
	.container-fluid {
		padding: 5px;

		.contenido {
			width: 100%;

			.row {
				padding: 0;
				margin: 0;
			}
		}
	}
	.mvst_group {
		display: block;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr;
		height: calc(100vh - 42px);

		.mvst_panel {
			width: 100%;
			height: auto;
			padding: 0;
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
		.mvst_table {
			width: 100%;
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;

			.double-column {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;

				.left-side {
					grid-area: 1 / 1 /2 /2;
				}
				.right-side {
					grid-area: 2 / 1 / 3 / 2;
				}
			}
		}
	}
}
