.tbl_dynamic   {
	height: calc(100vh - 320px);
}

.frame_table {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.05);
	border-radius: 5px;
	min-height: 300px;
	padding: 10px;
	overflow: hidden;
}

.frame_principal {
	width: 100%;
	height: calc(100vh - 330px);
	position: relative;
	overflow: auto;
	font-size: 0.9em;
	background-color: #FFFFFF;
	//display: none;
}

.frame_fix_col {
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	right: 12px;
	overflow: hidden;
	z-index: 10;
   // display: none;
}
.frame_fix_row {
	background-color: #ffffff;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 12px;
	z-index: 20;
   // display: none;
}

.frame_fix_top {
	background-color: #ffffff;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 30;
  //  display: none;
}

.frame_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	z-index: 5;
  //  display: none;
}

// .frame_principal table th {
// 	//text-align: center;
// 	padding: 0 5px;
// 	height: 28px;
// 	color: #666666;
// 	border-bottom: 2px solid #cccccc;
// 	border-top: 2px solid #cccccc;
// 	border-left: 1px dotted #dddddd;
// }

// .frame_principal table td {
// 	padding: 2px 3px;
// 	line-height: 1.1em;
// 	border-bottom: 1px dotted #dddddd;
// 	border-top: 1px dotted #ffffff;
// 	border-left: 1px dotted #dddddd;
// }

// .frame_principal table th:first-child,
// .frame_principal table td:first-child {
// 	border-left: none;
// }
