header {
    position: fixed;
    background-color: $dark;
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 200;
}
.logos {
    width: 250px;
    padding: 5px 2px 0px 5px;
    line-height: 3rem;
    float: left;
    grid-column: 1 / span 1;
}

.sign-out {
    padding: 9px 10px 0 0;
    text-align: right;
    grid-column: 8 / span 1;
    height: 2.0rem;
    i {
        margin: 0 5px;
    }
}
.menu_bar {
    display: none;
}

/* ESTILOS GENERALES*/
nav {
    width: 100%;
    height: 2.0rem;
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
nav ul {
    list-style: none;
    padding: 0%;
}

nav li {
    line-height: 2.2rem;
    position: relative;
}
.menu {
    grid-column: 1 / span 6;
}
.menu ul {
    position: absolute;
}

nav a {
    color: #dddddd;
    display: block;
    padding: 0 1.0em;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-decoration: none;
}

/* PRIMER NIVEL */
.menu {
    background-color: $dark;
    display: table;
    /* width: 90%; */
}

.menu > li {
    float: left;
}

/* SEGUNDO NIVEL */
nav li li {
    background-color: $dark;
    max-height: 0;
    overflow: hidden;
    transition: all 0.05s;
    width: 220px;
    position: relative;
    i {
        position: absolute;
        right: 0.75rem;
        top: 0.75rem;
    }
}

nav li:hover > ul > li {
    max-height: 100vh;
    overflow: visible;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

.menu > li > ul {
    top: 100%;
}

/* TERCER NIVEL */
.menu ul ul {
    left: 101%;
    top: 0;
}

@media screen and (max-width: 1000px) {
    header {
        position: fixed;
        height: 55px;
        display: block;

        .logos {
        }

        .sign-out {
            position: absolute;
            bottom: 10px;
            padding: 0 10px 0 10px;
            text-align: right;
            width: 100%;
        }

        nav {
            width: 100%;
            overflow: auto;
            height: 95vh;
            top: 50px;
            right: 100%;
            position: absolute;
            background-color: $dark;
            padding-bottom: 100px;
            display: block;
        }

        nav ul li {
            display: block;
            float: none;
            width: 100%;
        }

        header .menu a {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0.5rem;
            width: 100%;
            display: block;
        }
        .menu {
            display: block;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .menu ul {
            position: relative;
        }
        nav li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            line-height: 3.5rem;
        }

        .menu > li > ul {
            top: 100%;
        }
        .menu > li > ul > li {
            padding-left: 20px;
        }
        .menu ul ul {
            left: 0;
            top: 0;
        }

        .menu_bar {
            display: block;
            position: fixed;
            width: 100%;
            background-color: transparent;
            // border: 1px solid #ff00FF;
            grid-column: 1 / span 1;
            z-index: 40;
        }

        .menu_bar .bt_menu {
            display: block;
            width: 100%;
            overflow: hidden;
            color: #ffffff;
            font-size: 25px;
            padding: 10px;
            text-align: right;
        }
    }
}
