// BOTONES Y ENLACES
.btn-add {
    border: none;
    background-color: transparent;
    color: #888888;
    font-size: 0.9em;
    &:hover {
        color: #000000;
        font-weight: 900;
    }

    &.right {
        position: absolute;
        bottom: 1px;
    }
}

.right {
    right: 10px;
}

.bn {
    padding: 2px 10px;
    border-radius: 20px;
    margin: 20px 0;
    border: 2px solid transparent;
    background-color: #ffffff;
}

.btn-ok {
    color: $setColor;
    border-color: $setColor;

    &:hover {
        background-color: $setColor;
        color: #ffffff;
    }
}

.enable {
    color: $setColor;
    border-color: $setColor;

    &:hover {
        background-color: $setColor;
        color: #ffffff;
    }
}
.disable {
    border-color: #dddddd;
    color: #dddddd;
}

.btn-cn {
    color: $btn-red;
    border-color: $btn-red;

    &:hover {
        background-color: $btn-red;
        color: #ffffff;
    }
}
h6 {
    font-size: 1.2em;
    font-family: $font_secundary;
}
hr {
    margin: 5px 0 20px 0;
}

.text_center {
    text-align: center;
}

.block_01 {
    width: calc(100% - 250px);
    height: 100vh;
    padding: 50px 10px 10px 10px;
    overflow: auto;

    .blocks {
        padding: 4px;
        background-color: #ffffff;
        border: 2px solid #eeeeee;
        border-radius: 10px;
    }

    .block_01-01,
    .block_01-02 {
        // box-shadow: 0 8px 10px 2px rgba(0,0,0,0.3);
        min-height: 10px;
        position: relative;
        padding: 4px;
    }
}
.block_02 {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0px;
    top: 0;
    padding: 50px 15px 10px 15px;

    .blocks {
        &.total {
            font-size: 1.3em;
            padding-top: 10px;
        }
        &.documents {
            color: #999999;
            cursor: pointer;
            &:hover {
                color: $setColor;
                font-weight: 900;
                background-color: #eeeeee;
            }
        }
        .full {
            width: 100%;
        }
        .half {
            border-bottom: 1px dotted #eeeeee;
            display: inline-block;
            padding: 0;
            &.left {
                width: 40%;
                text-align: left;
            }
            &.right {
                width: 58%;
                text-align: right;
            }
        }
        .concepto {
            background-color: #ffffff;
            font-size: 1.1em;
            font-weight: 300;
            color: $setColor;
            font-family: $font_secundary;
        }
        .dato {
            background-color: #ffffff;
            font-size: 1.2em;
            color: #999999;
            font-family: $font_secundary;
            padding: 0;
        }
    }
}

.table_information {
    width: 100%;
    font-family: $font_primary;
    border-collapse: collapse;
    td {
        padding: 0px 5px;
        //  border:1px solid #CCCCCC;
    }
    .concepto {
        width: 130px;
        text-align: right;
        color: $setColor;
        vertical-align: top;
    }
    .error {
        color: #cc0000;
        font-weight: 900;
    }
    .dato {
        vertical-align: top;
        font-weight: 900;
        color: #666666;
        position: relative;
        width: calc(100% - 140px);

        .serc {
            visibility: hidden;
        }
        .search {
            border-radius: 4px;
            width: 200px;
            height: 24px;
            padding: 1px 5px;
            outline: none;
            border: 1px solid $color_btn_default_top;
            font-size: 1.2em;
            &:focus {
                background-color: rgba(10, 5, 5, 0.08);
                & ~ .serc {
                    visibility: visible;
                }
            }
        }

        .grouper {
            // border: 1px solid #000000;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 30px);
            padding-right: 25px;
            display: inline-block;
            position: absolute;
            outline: none;
            &:focus {
                background-color: rgba(10, 5, 5, 0.03);
            }
        }
        .customerType {
            position: absolute;
            top: 18px;
            span {
                color: $dark;
                font-size: 0.8em;
                border: 1px solid $dark;
                border-radius: 50px;
                padding: 0px 5px;
                background-color: rgba($dark, 0.09);
            }
        }

        i {
            position: absolute;
            top: 2px;
            right: 0;
            z-index: 10;
            transition: 0.3s ease all;
            &.turn.rotar {
                transform: rotate(180deg);
            }
        }
        .list_items {
            position: absolute;
            top: 20px;
            left: 4px;
            width: 90%;
            min-height: 20px;
            max-height: 120px;
            background-color: $color_deep_table;
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
            z-index: 11;
            padding: 6px;
            overflow: auto;
            display: none;

            ul li {
                padding: 2px 6px;
                color: #dddddd;
                border-bottom: 1px dashed $grey-form;
                cursor: pointer;

                &:hover {
                    background-color: rgba(100, 100, 100, 0.03);
                    border-bottom: 1px dashed $setColor;
                }
                &.enable {
                    color: $setColor;
                }
            }
        }
    }
    .enlace {
        vertical-align: top;
        text-align: right;
        font-weight: 300;
        color: #999999;

        span {
            cursor: pointer;
            padding: 4px 0;
            border-radius: 20px;

            &:hover {
                font-weight: 900;
                color: #000000;
            }
        }
    }
}

.table_control {
    font-family: $font_primary;
    border-collapse: collapse;
    font-weight: 700;

    th {
        text-align: center;
        font-weight: 900;
        padding: 4px 0;
    }
    td {
        color: #333333;
        border-bottom: 1px dotted #dddddd;
        padding: 0.3em 0;
        overflow: hidden;
        font-weight: 500;
    }
    tbody {
        border-top: 1px solid $setColor;
    }
    // ANCHOS DE COLUMNAS
    .w1 {
        width: 350px;
    }
    .w2 {
        width: 80px;
    }
    .w3 {
        width: 100px;
    }

    .headrow {
        background-color: rgba(0, 0, 0, 0.02);
    }

    // ZONAS
    .zone_01 {
        background-color: rgba(144, 146, 158, 0.01);
    }
    .zone_02 {
        background-color: rgba(144, 146, 158, 0.05);
    }
    .zone_03 {
        background-color: rgba(144, 146, 158, 0.08);
    }
    // ESTILOS DE COLUMNAS

    th.product {
        background-color: #ffffff;
    }
    .product {
        text-align: left;
        position: relative;
        &:hover > i.fa-bars {
            display: block;
        }

        i.fa-bars {
            color: #eeeeee;
            position: absolute;
            right: 5px;
            top: 4px;
            display: none;
            cursor: pointer;
            font-size: 15px;
            &:hover {
                color: $setColor;
            }
        }
        i.fa-ellipsis-v {
            color: #eeeeee;
        }
    }
    .quantity {
        text-align: center;
    }
    .price {
        text-align: right;
        padding-right: 12px;
    }
    .cost {
        text-align: right;
        padding-right: 12px;
        font-weight: 900;
    }
    .days {
        text-align: center;
    }
    .desct {
        text-align: center;
    }
    .sel {
        position: relative;
        &:hover > i {
            display: block;
        }

        i {
            position: absolute;
            left: 5px;
            top: 6px;
            display: none;
            cursor: pointer;
            font-size: 15px;
        }
    }
}

// Modales
.box_list_products {
    width: 650px;
    height: 170px;
    position: fixed;
    z-index: 100;
    font-size: 0.9em;
    font-weight: 900;
    overflow: hidden;
    // box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
    display: none;
    .sel_product {
        width: 100%;
        position: absolute;
        margin-bottom: 3px;
        background-color: #ffffff;
        border: 1px dotted #dddddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 3px;
        top: 0px;
        outline: none;
        z-index: 10;
        &:focus {
            background-color: #f6f6f6;
            border: 1px dotted #bbbbbb;
        }
    }

    .list_products {
        width: 100%;
        height: 125px;
        background-color: #ffffff;
        border: 1px dotted #bbbbbb;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        overflow: auto;
        position: absolute;
        top: 20px;
        z-index: 8;

        li {
            cursor: pointer;
            clear: both;
            border-bottom: 1px dashed #dddddd;
            padding: 1px 0;
            overflow: hidden;
            // &:hover {
            //     border-bottom: 1px dashed $setColor;
            //     background-color: #f6f6f6;
            // }

            .prodName {
                width: 450px;
                float: left;
            }
            .prodStock {
                width: 50px;
                float: left;
                text-align: center;
            }
            .prodLevel {
                width: 80px;
                float: left;
                text-align: left;
            }
        }
    }
}

.box_minimenu {
    width: 150px;
    height: 70px;
    position: fixed;
    padding: 10px;
    z-index: 100;
    font-size: 0.9em;
    font-weight: 900;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: $setColor;
    color: $color_deep_table;
    z-index: 100;
    display: none;
    &::before {
        position: absolute;
        width: 0;
        height: 0;
        left: -14px;
        top: 38px;
        content: "";
        border-top: 7px solid transparent;
        border-right: 14px solid $setColor;
        border-bottom: 7px solid transparent;
    }

    .list_menu {
        ul {
            li {
                line-height: 2em;
                cursor: pointer;
                padding: 2px 5px;
                font-weight: 300;
                text-transform: uppercase;

                &:hover {
                    background-color: $color_deep_modl;
                    border-radius: 4px;
                }

                i {
                    font-size: 1.3em;
                    margin-right: 10px;
                }
            }
        }
    }
}
.box_modal_deep {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.8s ease;

    .box_modal {
        width: 80%;
        height: 80%;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 6px 12px 12px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 120%;
        .row {
            height: 100%;
        }
        .space_end  {
            height: 50px;
        }

        .fix_buttons {
            position: absolute;
            display: block;
            bottom: 0px;
            z-index: 100;
            
        }
        .form {
            padding: 30px 0;
            

            .form_group {
                width: 100%;
                height: 60px;
                margin-bottom: 10px;
                border-bottom: 1px dotted #000000;
                padding: 0px 4px;

                position: relative;

                .subgroup {
                    font-family: $font_secundary;
                    padding-left: 100px;

                    i {
                        margin-right: 80px;
                        margin-left: 10px;
                        font-size: 1.5em;
                        cursor: pointer;
                    }
                }

                label {
                    font-family: $font_secundary;
                    color: $setColor;
                    font-size: 1.2em;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .form-select {
                    position: absolute;
                    border: none;
                    top: 20px;
                    padding: 0 10px 0 50px;
                    font-size: 0.9em;
                    width: 95%;
                    z-index: 10;
                }
                .textbox {
                    border: none;
                    padding: 0 10px 0 50px;
                    color: #777777;
                    width: 95%;
                    outline: none;
                    position: absolute;
                    top: 20px;
                    left: 0;
                }
                .fa-calendar-alt {
                    position: absolute;
                    top: 20px;
                    font-size: 1.8em;
                    color: #cccccc;
                    cursor: pointer;
                    &:hover {
                        color: $setColor;
                    }
                }

                .alert {
                    color: $btn-red;
                    font-size: 0.9em;
                    font-weight: 300;
                    font-family: $font_primary;
                    font-stretch: expanded;
                    position: absolute;
                    top: -20px;
                    right: 10px;
                }
            }
            &.qst {
                padding: 60px 30px 30px 30px;
                height: 100%;
                overflow: auto;
            }

            &.image {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                border-radius: 0px 6px 6px 0px;
            }
            &.img01 {
                background-image: url("../img/programer/20.png");
            }
            &.img02 {
                background-image: url("../img/programer/21.png");
            }
            .error {
                label {
                    color: $btn-red;
                }
                .textbox {
                    background-color: transparent;
                }
                border-color: $btn-red;
                background-color: rgba($btn-red, 0.2);
            }
            .list_select {
                position: relative;
                height: 50px;

                .list_group {
                    position: absolute;
                    top: 42px;
                    left: 10px;
                    padding: 10px;
                    background-color: #ffffff;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    height: 200px;
                    width: 90%;
                    display: none;

                    .list_items {
                        background-color: #ffffff;
                        padding: 3px 10px;
                        border-bottom: 1px solid #eeeeee;
                        cursor: pointer;

                        &:hover {
                            background-color: #fbfbfb;
                        }
                    }
                }
            }
        }
        .product_container {
            width: 100%;

            h2 {
                font-size: 1.7em;
                span {
                    font-size: 0.8em;;
                }
            }
            .subcatego,
            .catego {
                float: right;
                display: inline-block;
                padding: 2px 10px 10px 10px;
                font-size: 1.0em;
                font-weight: 600;
            }

            table {
                border-collapse: collapse;
                width: 100%;

                th {
                    border-bottom: 2px solid $setColor;
                }

                td {
                    color: #000000;
                    border-bottom: 1px dotted #EEEEEE;
                    padding: 2px 3px;

                    &.pdd_prc  {
                        text-align: right;
                    }
                    &.blk {
                        font-weight: 900;
                        color: #000000;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}
.box_desc {
    width: 70px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1500;
    padding: 10px 20px;
    position: fixed;

    li {
        text-align: right;
        cursor: pointer;
        &:hover {
            font-weight: 900;
        }
    }
}
.box_days {
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1500;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .minitext {
        width: 50px;
        height: 20px;
        text-align: center;
        border: 1px solid #dddddd;
        outline: none;
    }
}

.menu_control {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;

    ul {
        border-bottom: 1px dashed $setColor;
        li {
            display: inline-block;
        }
    }

    .menu_block {
        display: none;
    }

    .menu_version {
        font-weight: 900;
        font-size: 1.1em;
        padding-right: 20px;
    }

    .menu_button {
        width: 110px;
        text-align: center;
        border: none;
        background-color: transparent;
        color: #888888;
        font-size: 0.9em;
        padding: 3px 0;
        cursor: pointer;
        &:hover {
            color: #000000;
            font-weight: 900;
        }
        i {
            font-size: 1.2em;
        }
    }
}

.box_desc {
    width: 90px;
    height: 100px;
    overflow: auto;
}
