@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  color: #1e2126;
}

.bg-dark {
  background-color: #16191c !important;
}

.bg-dark-x {
  background-color: #1e2126;
}

.form-control,
.btn {
  min-height: 1.125rem;
  line-height: initial;
  color: #ffffff;
}

.set-login {
  max-width: 500px;
  color: #ffffff;
}

.logo {
  width: 80px;
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  background-image: url(../img/slider/slider-001.jpg);
}

.img-2 {
  background-image: url(../img/slider/slider-002.jpg);
}

.img-3 {
  background-image: url(../img/slider/slider-003.jpg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  color: #FFFFFF;
}

.logo {
  width: 250px;
  padding: 10px 2px 0px 5px;
  line-height: 3rem;
}

.sign-out {
  padding: 10px 20px 0 0;
  line-height: 3rem;
  text-align: right;
  width: 200px;
}

.menu_bar {
  display: none;
}

/* ESTILOS GENERALES*/
nav {
  width: 100%;
}

nav ul {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  list-style: none;
  padding: 0%;
}

nav li {
  line-height: 3rem;
  position: relative;
}

.menu ul {
  position: absolute;
}

nav a {
  color: #dddddd;
  display: block;
  padding: 0 1.0em;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-decoration: none;
}

/* PRIMER NIVEL */
.menu {
  background-color: #333333;
  display: table;
  /* width: 90%; */
}

.menu > li {
  float: left;
}

/* SEGUNDO NIVEL */
nav li li {
  background-color: #222222;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 200px;
}

nav li:hover > ul > li {
  max-height: 100vh;
  overflow: visible;
}

.menu > li > ul {
  top: 100%;
}

/* TERCER NIVEL */
.menu ul ul {
  left: 100%;
  top: 0;
}

@media screen and (max-width: 800px) {
  header {
    position: fixed;
  }
  header nav {
    width: 100%;
    overflow: auto;
    height: 100vh;
    top: 55px;
    right: 100%;
    position: fixed;
    background-color: #333333;
    padding-bottom: 100px;
  }
  header nav ul li {
    display: block;
    float: none;
    width: 100%;
  }
  header .menu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    width: 100%;
  }
  .menu ul {
    position: relative;
  }
  .menu > li > ul {
    top: 100%;
  }
  .menu ul ul {
    left: 0;
    top: 0;
  }
  .menu_bar {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #333333;
  }
  .menu_bar .bt_menu {
    display: block;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
    text-align: right;
  }
}
/*# sourceMappingURL=estilos.css.map */

/*******************ESTILOS JUAN*******************/
.listContainer{
  height: 200px !important;
  overflow-y: scroll;
}

.list-group-item {
    font-weight: 600 !important;
    font-size: .65rem;
    padding: 0.1rem .3rem !important;
    color: rgb(55, 0, 255) ;
}

.list-group-item-Text{
  font-size: .6rem !important;
  font-weight: 200 !important;
  color: black ;

}

.colorSecundario{
  color:#9a9a9a; 
}


.form-control {
color: #212529 ;
} 
/*Estilos data table adicionales */
.btn_Datatable{
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background: none !important;
}

.button-page-length{
  padding: 4px !important;
  margin: 5px 10px 5px 5px !important;
  border: none !important;
  background: none !important;
  background-color: #007bff !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
}

.button-page-length:hover {
  background-color: #0069d9 !important;
}

.dt-button-collection {
  width: 100px !important;
  padding: 3px 12px 3px 3px!important;
}

.btnDatableAdd{
  /*padding: 0px !important;*/
  margin: 0px  0px  10px  0px !important;
  border: none !important;
  background: none !important;
  background-color: #007bff !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
}

.btnDatableAdd:hover {
  background-color: #0069d9 !important;
}

.btnDatableAddRed{
  /*padding: 0px !important;*/
  margin: 0px  0px  10px  0px !important;
  border: none !important;
  background: none !important;
  background-color: #ff3c00 !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
  visibility: hidden;
}

.btnDatableAddRed:hover {
  background-color: #d90000 !important;
}



.btn-add{
  font-style: normal !important;
  font-size: 12px !important;
}


::-webkit-scrollbar {
width: 4px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #b5b5b5; 
}

::-webkit-scrollbar-thumb:hover {
background: #919191; 
}

/*********************/

.row {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 13px;

}

.close:focus {
  outline: none;
}

.modal-header {
  border-bottom: none;
}


.modal-footer {
  
  border-top: none;

}

.btn-lg  {
  padding: 0.4rem 1rem !important;
  font-size: 1 rem !important;
}


.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3rem 0.75rem;
  font-size: .7rem !important;
}

.col-espace{
  margin-bottom: 13px;
}



.custom-select {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3rem 0.75rem !important;
  font-size: .7rem !important;
}

.btn-Edit-Perfil {
  font-size: .7rem !important;
}

.invalid-feedback {
  margin-top: 0.1rem;
}

.card-body-add{
  padding: .4rem !important;
}

.margin-cero{
  margin-bottom: 0px !important;
}

.margin-der{
  margin-right: .5rem !important;
}

.btn-icon-edit {
  color: #585858 !important;
  transition: background 0.5s ease-in-out !important;
}

.btn-icon-edit:hover  {
  box-shadow: none !important;
  background-color: #058a38 !important;
  color: #ececec !important;
}

.btn-icon-delete {
  color: #585858 !important;
  transition: background 0.5s ease-in-out !important;
}

.btn-icon-delete:hover  {
  box-shadow: none !important;
  background-color: #af230a !important;
  color: #ececec !important;
}

