@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  color: #3d4755;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

.bg-dark {
  background-color: #283446 !important;
}

.bg-dark-x {
  background-color: #3d4755;
}

.form-control,
.btn {
  min-height: 1.125rem;
  line-height: initial;
  color: #ffffff;
}

.set-login {
  max-width: 500px;
  color: #ffffff;
}

.logo {
  width: 80px;
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  background-image: url(../img/slider/slider-001.jpg);
}

.img-2 {
  background-image: url(../img/slider/slider-002.jpg);
}

.img-3 {
  background-image: url(../img/slider/slider-003.jpg);
}

.contenido {
  padding-top: 80px;
}

header {
  position: fixed;
  background-color: #283446;
  color: #FFFFFF;
  top: 0;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  z-index: 200;
}

.logos {
  width: 250px;
  padding: 5px 2px 0px 5px;
  line-height: 3rem;
  float: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /span 1;
}

.sign-out {
  padding: 7px 10px 0 0;
  text-align: right;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / span 1;
  height: 2.5rem;
}

.sign-out i {
  margin: 0 5px;
}

.menu_bar {
  display: none;
}

/* ESTILOS GENERALES*/
nav {
  width: 100%;
  height: 2.5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

nav ul {
  list-style: none;
  padding: 0%;
}

nav li {
  line-height: 2.2rem;
  position: relative;
}

.menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
}

.menu ul {
  position: absolute;
}

nav a {
  color: #dddddd;
  display: block;
  padding: 0 1.40em;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-decoration: none;
}

/* PRIMER NIVEL */
.menu {
  background-color: #283446;
  display: table;
  /* width: 90%; */
}

.menu > li {
  float: left;
}

/* SEGUNDO NIVEL */
nav li li {
  background-color: #3d4755;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  width: 220px;
}

nav li:hover > ul > li {
  max-height: 100vh;
  overflow: visible;
}

.menu > li > ul {
  top: 100%;
}

/* TERCER NIVEL */
.menu ul ul {
  left: 100%;
  top: 0;
}

@media screen and (max-width: 1000px) {
  header {
    position: fixed;
    height: 55px;
    display: block;
  }
  header .sign-out {
    position: absolute;
    bottom: 10px;
    padding: 0 10px 0 10px;
    text-align: right;
    width: 100%;
  }
  header nav {
    width: 100%;
    overflow: auto;
    height: 95vh;
    top: 50px;
    right: 100%;
    position: absolute;
    background-color: #283446;
    padding-bottom: 100px;
    display: block;
  }
  header nav ul li {
    display: block;
    float: none;
    width: 100%;
  }
  header header .menu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    width: 100%;
    display: block;
  }
  header .menu {
    display: block;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  header .menu ul {
    position: relative;
  }
  header nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 3.5rem;
  }
  header .menu > li > ul {
    top: 100%;
  }
  header .menu > li > ul > li {
    padding-left: 20px;
  }
  header .menu ul ul {
    left: 0;
    top: 0;
  }
  header .menu_bar {
    display: block;
    position: fixed;
    width: 100%;
    background-color: transparent;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    z-index: 40;
  }
  header .menu_bar .bt_menu {
    display: block;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
    text-align: right;
  }
}

.form-label {
  font-family: "Titillium Web", sans-serif;
}

.form-group {
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 1rem;
  border-radius: 4px;
}
/*# sourceMappingURL=estilos.css.map */

/*******************ESTILOS JUAN*******************/
.listContainer{
  height: 200px !important;
  overflow-y: scroll;
}

.list-group-item {
    font-weight: 600 !important;
    font-size: .65rem;
    padding: 0.1rem .3rem !important;
    color: rgb(55, 0, 255) ;
}

.list-group-item-Text{
  font-size: .6rem !important;
  font-weight: 200 !important;
  color: black ;

}

.colorSecundario{
  color:#9a9a9a; 
}


.form-control {
color: #212529 ;
} 
/*Estilos data table adicionales */
.btn_Datatable{
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background: none !important;
}

.button-page-length{
  padding: 4px !important;
  margin: 5px 10px 5px 5px !important;
  border: none !important;
  background: none !important;
  background-color: #007bff !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
}

.button-page-length:hover {
  background-color: #0069d9 !important;
}

.dt-button-collection {
  width: 100px !important;
  padding: 3px 12px 3px 3px!important;
}

.btnDatableAdd{
  /*padding: 0px !important;*/
  margin: 0px  0px  10px  0px !important;
  border: none !important;
  background: none !important;
  background-color: #007bff !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
}

.btnDatableAdd:hover {
  background-color: #0069d9 !important;
}

.btnDatableAddRed{
  /*padding: 0px !important;*/
  margin: 0px  0px  10px  0px !important;
  border: none !important;
  background: none !important;
  background-color: #ff3c00 !important;
  border-radius: 4px !important;
  transition: background 0.5s ease-in-out !important;
  color: white !important;
  visibility: hidden;
}

.btnDatableAddRed:hover {
  background-color: #d90000 !important;
}



.btn-add{
  font-style: normal !important;
  font-size: 12px !important;
}


::-webkit-scrollbar {
width: 4px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #b5b5b5; 
}

::-webkit-scrollbar-thumb:hover {
background: #919191; 
}

/*********************/

.row {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 13px;

}

.close:focus {
  outline: none;
}

.modal-header {
  border-bottom: none;
}


.modal-footer {
  
  border-top: none;

}

.btn-lg  {
  padding: 0.4rem 1rem !important;
  font-size: 1 rem !important;
}


.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3rem 0.75rem;
  font-size: .7rem !important;
}

.col-espace{
  margin-bottom: 13px;
}



.custom-select {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3rem 0.75rem !important;
  font-size: .7rem !important;
}

.btn-Edit-Perfil {
  font-size: .7rem !important;
}

.invalid-feedback {
  margin-top: 0.1rem;
}

.card-body-add{
  padding: .4rem !important;
}

.margin-cero{
  margin-bottom: 0px !important;
}

.margin-der{
  margin-right: .5rem !important;
}

.btn-icon-edit {
  color: #585858 !important;
  transition: background 0.5s ease-in-out !important;
}

.btn-icon-edit:hover  {
  box-shadow: none !important;
  background-color: #058a38 !important;
  color: #ececec !important;
}

.btn-icon-delete {
  color: #585858 !important;
  transition: background 0.5s ease-in-out !important;
}

.btn-icon-delete:hover  {
  box-shadow: none !important;
  background-color: #af230a !important;
  color: #ececec !important;
}

.marginR{
  margin-right: 7px !important;
}
