@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  color: #1e2126;
}

.bg-dark {
  background-color: #16191c !important;
}

.bg-dark-x {
  background-color: #1e2126;
}

.form-control,
.btn {
  min-height: 1.125rem;
  line-height: initial;
  color: #ffffff;
}

.set-login {
  max-width: 500px;
  color: #ffffff;
}

.logo {
  width: 80px;
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  background-image: url(../img/slider/slider-001.jpg);
}

.img-2 {
  background-image: url(../img/slider/slider-002.jpg);
}

.img-3 {
  background-image: url(../img/slider/slider-003.jpg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  color: #FFFFFF;
}

.logo {
  width: 250px;
  padding: 10px 2px 0px 5px;
  line-height: 3rem;
}

.sign-out {
  padding: 10px 20px 0 0;
  line-height: 3rem;
  text-align: right;
  width: 200px;
}

.menu_bar {
  display: none;
}

/* ESTILOS GENERALES*/
nav {
  width: 100%;
}

nav ul {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  list-style: none;
  padding: 0%;
}

nav li {
  line-height: 3rem;
  position: relative;
}

.menu ul {
  position: absolute;
}

nav a {
  color: #dddddd;
  display: block;
  padding: 0 1.0em;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-decoration: none;
}

/* PRIMER NIVEL */
.menu {
  background-color: #333333;
  display: table;
  /* width: 90%; */
}

.menu > li {
  float: left;
}

/* SEGUNDO NIVEL */
nav li li {
  background-color: #222222;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 200px;
}

nav li:hover > ul > li {
  max-height: 100vh;
  overflow: visible;
}

.menu > li > ul {
  top: 100%;
}

/* TERCER NIVEL */
.menu ul ul {
  left: 100%;
  top: 0;
}

@media screen and (max-width: 800px) {
  header {
    position: fixed;
  }
  header nav {
    width: 100%;
    overflow: auto;
    height: 100vh;
    top: 55px;
    right: 100%;
    position: fixed;
    background-color: #333333;
    padding-bottom: 100px;
  }
  header nav ul li {
    display: block;
    float: none;
    width: 100%;
  }
  header .menu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    width: 100%;
  }
  .menu ul {
    position: relative;
  }
  .menu > li > ul {
    top: 100%;
  }
  .menu ul ul {
    left: 0;
    top: 0;
  }
  .menu_bar {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #333333;
  }
  .menu_bar .bt_menu {
    display: block;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
    text-align: right;
  }
}
/*# sourceMappingURL=estilos.css.map */