@import "input";
@import "select";
@import "radio";
// @import "textarea";

.form-group {
    background-color: $grey-form;
    border-radius: 4px;
    height: 99.9vh;
    overflow: auto;
    padding: 40px 4px 40px 4px;
    color: $inputs-label;
}

@media screen and (max-width: 750px) {
    .form-group {
        padding: 40px 10px 10px 10px;
        
    }
}
